/* ==========================================================================
  Home Styles for standard mobile phone (station map using CSS grid)
========================================================================== */

.station-map {
  display: grid;
  grid-template-columns: 15% 15% 15% 10% 10% 10% 10% 10% 15%;
  grid-template-rows: repeat(18, 25px);
  list-style-type: circle;
}

ul > a {
  text-decoration: none;
  color: black;
  text-align: left;
}

.station {
  font-size: 1em;
  text-transform: lowercase;
}

.alewife,
.porter,
.davis,
.harvard,
.central,
.kendall-mit,
.charles-mgh,
.park-street,
.downtown-crossing,
.south-station,
.broadway,
.andrew,
.jfk-umass {
  grid-column: 4 / 9;
}

.savin-hill,
.fields-corner,
.shawmut,
.ashmont {
  grid-column: 1 / 5;
}

.north-quincy,
.wollaston,
.quincy-center,
.quincy-adams,
.braintree {
  grid-column: 5 / 9;
}

.alewife {
  grid-row: 1 / 2;
}

.davis {
  grid-row: 2 / 3;
}

.porter {
  grid-row: 3 / 4;
}

.harvard {
  grid-row: 4 / 5;
}

.central {
  grid-row: 5 / 6;
}

.kendall-mit {
  grid-row: 6 / 7;
}

.charles-mgh {
  grid-row: 7 / 8;
}

.park-street {
  grid-row: 8 / 9;
}

.downtown-crossing {
  grid-row: 9 / 10;
}

.south-station {
  grid-row: 10 / 11;
}

.broadway {
  grid-row: 11 / 12;
}

.andrew {
  grid-row: 12 / 13;
}

.jfk-umass {
  grid-row: 13 / 14;
}

.savin-hill {
  grid-row: 14 / 15;
}

.fields-corner {
  grid-row: 15 / 16;
}

.shawmut {
  grid-row: 16 / 17;
}

.ashmont {
  grid-row: 17 / 18;
}

.north-quincy {
  grid-row: 14 / 15;
}

.wollaston {
  grid-row: 15 / 16;
}

.quincy-center {
  grid-row: 16 / 17;
}

.quincy-adams {
  grid-row: 17 / 18;
}

.braintree {
  grid-row: 18 / 19;
}

/* ==========================================================================
  Media queries (breakpoints for different screen sizes)
  ========================================================================== */

  /* ===========================================================
  Skinny smartphone view
  ============================================================== */

@media screen and (max-width: 350px) {
  /* Stations need smaller font so that all can fit on one line */
  .station {
    font-size: 1em;
  }

  /* Main column on stations moves to left to accommodate Downtown Crossing */
  .alewife,
  .porter,
  .davis,
  .harvard,
  .central,
  .kendall-mit,
  .charles-mgh,
  .park-street,
  .downtown-crossing,
  .south-station,
  .broadway,
  .andrew,
  .jfk-umass {
    grid-column: 3 / 9;
  }
}

  /* ===========================================================
  Large smartphone view
  ============================================================== */

@media screen and (min-width: 400px) {
  /* Many more columns are needed to create a more realistic map of the stations */
  .station-map {
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(22, 30px);
  }

  .station {
    font-size: 1.25em;
  }

  .alewife {
    grid-column: 1 / span 5;
  }

  .davis {
    grid-column: 2 / span 5;
  }

  .porter {
    grid-column: 3 / span 5;
  }

  .harvard {
    grid-column: 4 / span 5;
  }

  .central {
    grid-column: 5 / span 5;
  }

  .kendall-mit {
    grid-column: 6 / span 5;
  }

  .charles-mgh {
    grid-column: 7 / span 6;
  }

  /* Note that Park Street, Downtown Crossing, and South Station still need much more space */
  .park-street {
    grid-column: 8 / span 10;
  }

  .downtown-crossing {
    grid-column: 9 / span 13;
  }

  .south-station {
    grid-column: 10 / span 10;
  }

  .broadway,
  .andrew,
  .jfk-umass {
    grid-column: 11 / span 5;
  }

  .savin-hill,
  .shawmut,
  .ashmont,
  .fields-corner {
    grid-column: 3 / span 9;
  }

  .north-quincy {
    grid-column: 13 / span 8;
  }

  .wollaston {
    grid-column: 14 / span 5;
  }

  .quincy-center, .quincy-adams, .braintree {
    grid-column: 15 / span 9;
  }

  .alewife {
    grid-row: 1 / 2;
  }

  .davis {
    grid-row: 2 / 3;
  }

  .porter {
    grid-row: 3 / 4;
  }

  .harvard {
    grid-row: 4 / 5;
  }

  .central {
    grid-row: 5 / 6;
  }

  .kendall-mit {
    grid-row: 6 / 7;
  }

  .charles-mgh {
    grid-row: 7 / 8;
  }

  .park-street {
    grid-row: 8 / 9;
  }

  .downtown-crossing {
    grid-row: 9 / 10;
  }

  .south-station {
    grid-row: 10 / 11;
  }

  .broadway {
    grid-row: 11 / 12;
  }

  .andrew {
    grid-row: 12 / 13;
  }

  .jfk-umass {
    grid-row: 13 / 14;
  }

  .savin-hill {
    grid-row: 15 / 16;
  }

  .fields-corner {
    grid-row: 16 / 17;
  }

  .shawmut {
    grid-row: 17 / 18;
  }

  .ashmont {
    grid-row: 18 / 19;
  }

  .north-quincy {
    grid-row: 15 / 16;
  }

  .wollaston {
    grid-row: 16 / 17;
  }

  .quincy-center {
    grid-row: 17 / 18;
  }

  .quincy-adams {
    grid-row: 18 / 19;
  }

  .braintree {
    grid-row: 19 / 20;
  }

  /* Make terminal stations bolder */
  .alewife,
  .ashmont,
  .braintree {
    font-weight: 700;
  }
}

/* ===========================================================
  Phablet view (Sorry to use such a gross word)
  ============================================================== */

@media screen and (min-width: 550px) {
  .savin-hill,
  .shawmut,
  .ashmont,
  .fields-corner {
    grid-column: 5 / span 7;
  }
}

  /* ===========================================================
  Tablet view
  ============================================================== */

@media screen and (min-width: 750px) {
  /* Space out stations to cover more screen area */
  .station-map {
    gap: 5px;
  }

  .station {
    font-size: 1.5em;
  }

  .downtown-crossing {
    grid-column: 9 / span 9;
  }

  .savin-hill,
  .shawmut,
  .ashmont,
  .fields-corner {
    grid-column: 6 / span 6;
  }

  .north-quincy {
    grid-column: 14 / span 6;
  }

  .wollaston {
    grid-column: 15 / span 6;
  }

  .quincy-center {
    grid-column: 16 / span 6;
  }

  .quincy-adams {
    grid-column: 17 / span 6;
  }

  .braintree {
    grid-column: 18 / span 6;
  }

}

  /* ===========================================================
  Desktop view
  ============================================================== */

@media screen and (min-width: 1000px) {
  .station-map {
    gap: 10px;
  }

  .station {
    font-size: 2em;
  }
}
