/* ==========================================================================
  Home Styles for standard mobile phone (station map using CSS grid)
========================================================================== */

.home-toggle {
  margin: 2%;
}

.button-tabs {
  width: 100%;
  display: flex;
}

.toggle-div {
  border-top: 1px solid black;
}