/* ==========================================================================
  Form Styles - Mobile-first grid layout
========================================================================== */

.share-div, form, .recommendation-row {
  display: flex;
  flex-direction: column;
}

/* * {
  border: 1px solid black;
} */

form {
  padding: 20px;
  text-align: left;
}

form>* {
  margin: 10px 0px;
}

.name-row, .station-row {
  align-items: center;
}

input, select {
  margin: 0px 5px;
}

.name-row, .station-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.name-label, .station-label {
  grid-column: 1 / 2;
}

.name-input, .station-input {
  grid-column: 2 / 3;
}

label {
  font-size: 1.1em;
}

.recommendation-label {
  margin-bottom: 10px;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-shadow: 3px 2px 2px rgb(104, 100, 98);
  border-radius: 8px;
  padding: 5px;
}

.name-input:focus,
.station-input:focus,
.recommendation-input:focus {
  outline: none;
  box-shadow: 3px 2px 2px #e88a58;
}

.submit-button {
  font-size: 1.25em;
  align-self: center;
}