header {
  display: grid;
  grid-template-rows: 75% 25%;
}

.header-top {
  color: #eef1f1;
  background-color: #e10c0c;
  padding-top: 2px;
  margin-bottom: 0;
}

.header-bottom-station {
  background-color: #eef1f1;
  padding-top: 2px;
  display: flex;
  justify-content: space-around;
}