.header-bottom-station {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.alewife-arrows {
  justify-content: flex-end;
}

.recommendations-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media (min-width: 640px) {
  .recommendations-div {
    flex-flow: row wrap;
  }
}

/* Give the share ideas button some space in case the fixed navbar is at the bottom */
.share-ideas {
  margin: 30px;
}