/* ==========================================================================
  Form Styles - Mobile-first grid layout
========================================================================== */

form {
  display: grid;
  grid-template-columns: 35% 60%;
  grid-template-rows: repeat(3, 25px) 200px 1fr;
  grid-gap: 10px;
  margin: 10px;
  text-align: left;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-shadow: 3px 2px 2px rgb(104, 100, 98);
  border-radius: 8px;
}

.name-input:focus,
.station-input:focus,
.recommendation-input:focus {
  outline: none;
  box-shadow: 3px 2px 2px #e88a58;
}

.name-label,
.station-label,
.recommendation-label, .submit-button {
  grid-column: 1 / 2;
}

.name-input,
.station-input {
  grid-column: 2 / 3;
}

.recommendation-input {
  grid-column: 1 / 3;
}

.name-label,
.name-input {
  grid-row: 1 / 2;
}

.station-label,
.station-input {
  grid-row: 2 / 3;
}

.recommendation-label {
  grid-row: 3 / 4;
}

.recommendation-input {
  grid-row: 4 / 5;
}

.submit-button {
  grid-row: 5 / 6;
}

/* ==========================================================================
  Breakpoint - Grid column changes for larger screen sizes
========================================================================== */

@media screen and (min-width: 400px) {

  form {
    grid-template-columns: 80px 200px auto;
  }

  /* The first and second columns will remain the same width */
  .name-label,
  .station-label,
  .recommendation-label,
  .submit-button {
    grid-column: 1 / 2;
  }

  .name-input,
  .station-input {
    grid-column: 2 / 3;
  }

  /* The recommendation textbox, however, will increase in width as screen size increases*/
  .recommendation-input {
    grid-column: 1 / 4;
  }
}