/* Navbar will be fixed with the nav items equally spaced across screen */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #eef1f1;
  width: 100%;
  position: fixed;
  padding: 5px;
}

.fas, .far {
  color: black;
}

/* In screen sizes smaller than 641px, the navbar will appear at the bottom*/
/* See Navbar.jsx to learn more about how this works*/
.mobile-nav {
  bottom: 0;
}

/* In screen sizes larger than 640px, the navbar will appear at the top*/
/* See Navbar.jsx to learn more about how this works*/
.desktop-nav {
  top: 0;
  text-align: right;
}

/* The styling below makes the nav items look less "linky" */
.desktop-nav > a {
  text-decoration: none;
  color: black;
}
