body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e6/Outbound_train_at_Charles_MGH_station%2C_May_2006.jpg");
  background-color: rgba(238, 241, 241);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.App {
  text-align: center;
  background-color: rgba(238, 241, 241, 0.8);
  padding-bottom: 30px;
}

/* ==========================================================================
  Link/Button Styles
========================================================================== */
a {
  text-decoration: none;
  color: black;
  text-align: left;
}

button {
  color: black;
  border: none;
  background-color:rgb(238, 241, 241);
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

ul > a:hover {
  color: #f50f0a;
  border: 1px solid #f50f0a;
}

button:hover, button:active {
  text-decoration: underline;
}

.share-ideas {
  font-size: 14pt;
}
/* ==========================================================================
  Nav Styles
========================================================================== */

nav {
  text-align: right;
  background-color: #eef1f1;
  display: flex;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 5px;
}

nav > a {
  text-decoration: none;
  color: black;
  font-size: 10pt;
}

/* ==========================================================================
  Header Styles
========================================================================== */

header {
  background-color: #f50f0a;
}

.header-top {
  color: #eef1f1;
}

.header-bottom {
  background-color: #eef1f1;
}

/* ==========================================================================
  Homepage Styles
========================================================================== */

.station-map {
  display: grid;
  grid-template-columns: 1fr repeat(2, 10%) 15% 10% 15% repeat(2, 10%) 1fr;
  grid-template-rows: repeat(18, 25px);
  list-style-type: circle;
}

ul > a {
  text-decoration: none;
  color: black;
  text-align: left;
}

.alewife,
.porter,
.davis,
.harvard,
.central,
.kendall-mit,
.charles-mgh,
.park-street,
.downtown-crossing,
.south-station,
.broadway,
.andrew,
.jfk-umass {
  grid-column: 4 / 9;
}

.savin-hill,
.fields-corner,
.shawmut,
.ashmont {
  grid-column: 2 / 5;
}

.north-quincy,
.wollaston,
.quincy-center,
.quincy-adams,
.braintree {
  grid-column: 6 / 9;
}

.alewife {
  grid-row: 1 / 2;
}

.porter {
  grid-row: 2 / 3;
}

.davis {
  grid-row: 3 / 4;
}

.harvard {
  grid-row: 4 / 5;
}

.central {
  grid-row: 5 / 6;
}

.kendall-mit {
  grid-row: 6 / 7;
}

.charles-mgh {
  grid-row: 7 / 8;
}

.park-street {
  grid-row: 8 / 9;
}

.downtown-crossing {
  grid-row: 9 / 10;
}

.south-station {
  grid-row: 10 / 11;
}

.broadway {
  grid-row: 11 / 12;
}

.andrew {
  grid-row: 12 / 13;
}

.jfk-umass {
  grid-row: 13 / 14;
}

.savin-hill {
  grid-row: 14 / 15;
}

.fields-corner {
  grid-row: 15 / 16;
}

.shawmut {
  grid-row: 16 / 17;
}

.ashmont {
  grid-row: 17 / 18;
}

.north-quincy {
  grid-row: 14 / 15;
}

.wollaston {
  grid-row: 15 / 16;
}

.quincy-center {
  grid-row: 16 / 17;
}

.quincy-adams {
  grid-row: 17 / 18;
}

.braintree {
  grid-row: 18 / 19;
}

/* ==========================================================================
  Text Styles (About and Recommendations)
========================================================================== */

.rec-text,
.about-text {
  text-align: left;
  padding: 10px;
  line-height: 1.6;
}

/* ==========================================================================
  Form Styles
========================================================================== */

form {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: repeat(3, 25px) 200px 1fr;
  grid-gap: 10px;
  margin: 10px;
  text-align: left;
}

.name-label,
.station-label,
.recommendation-label,
.submit-button {
  grid-column: 1 / 2;
}

.name-input,
.station-input {
  grid-column: 2 / 3;
}

.recommendation-input {
  grid-column: 1 / 3;
}

.name-input:focus, .station-input:focus, .recommendation-input:focus {
  outline: 1px solid rgb(155, 152, 150);
}

.name-label,
.name-input {
  grid-row: 1 / 2;
}

.station-label,
.station-input {
  grid-row: 2 / 3;
}

.recommendation-label {
  grid-row: 3 / 4;
}

.recommendation-input {
  grid-row: 4 / 5;
}

.submit-button {
  grid-row: 5 / 6;
}

/* ==========================================================================
  Footer Styles
========================================================================== */

footer {
  width: 100%;
  background-color: #eef1f1;
  position: fixed;
  font-size: 0.5em;
  bottom: 0;
}

/* ==========================================================================
  Breakpoints
========================================================================== */

@media screen and (min-width: 400px) {
  /* ==========================================================================
  Form Styles
========================================================================== */

form {
  display: grid;
  grid-template-columns: 80px 200px auto;
  grid-template-rows: repeat(3, 25px) 200px 1fr;
  grid-gap: 10px;
  margin: 30px;
  text-align: left;
}

.name-label,
.station-label,
.recommendation-label,
.submit-button {
  grid-column: 1 / 2;
}

.name-input,
.station-input {
  grid-column: 2 / 3;
}

.recommendation-input {
  grid-column: 1 / 4;
}

.name-label,
.name-input {
  grid-row: 1 / 2;
}

.station-label,
.station-input {
  grid-row: 2 / 3;
}

.recommendation-label {
  grid-row: 3 / 4;
}

.recommendation-input {
  grid-row: 4 / 5;
}

.submit-button {
  grid-row: 5 / 6;
}
}

@media screen and (min-width: 500px) {
  /* ==========================================================================
  Homepage Styles
  ========================================================================== */

  .station-map {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(22, 30px);
    list-style-type: circle;
  }

  .alewife {
    grid-column: 1 / span 5;
  }

  .porter {
    grid-column: 2 / span 5;
  }

  .davis {
    grid-column: 3 / span 5;
  }

  .harvard {
    grid-column: 4 / span 5;
  }

  .central {
    grid-column: 5 / span 5;
  }

  .kendall-mit {
    grid-column: 6 / span 5;
  }

  .charles-mgh {
    grid-column: 7 / span 5;
  }

  .park-street {
    grid-column: 8 / span 5;
  }

  .downtown-crossing {
    grid-column: 9 / span 5;
  }

  .south-station {
    grid-column: 10 / span 5;
  }

  .broadway,
  .andrew,
  .jfk-umass {
    grid-column: 11 / span 5;
  }

  .savin-hill,
  .fields-corner,
  .shawmut,
  .ashmont {
    grid-column: 8 / span 5;
  }

  .north-quincy {
    grid-column: 14 / span 5;
  }

  .wollaston {
    grid-column: 15 / span 5;
  }

  .quincy-center {
    grid-column: 16 / span 5;
  }

  .quincy-adams {
    grid-column: 17 / span 5;
  }

  .braintree {
    grid-column: 18 / span 5;
  }

  .alewife {
    grid-row: 1 / 2;
  }

  .porter {
    grid-row: 2 / 3;
  }

  .davis {
    grid-row: 3 / 4;
  }

  .harvard {
    grid-row: 4 / 5;
  }

  .central {
    grid-row: 5 / 6;
  }

  .kendall-mit {
    grid-row: 6 / 7;
  }

  .charles-mgh {
    grid-row: 7 / 8;
  }

  .park-street {
    grid-row: 8 / 9;
  }

  .downtown-crossing {
    grid-row: 9 / 10;
  }

  .south-station {
    grid-row: 10 / 11;
  }

  .broadway {
    grid-row: 11 / 12;
  }

  .andrew {
    grid-row: 12 / 13;
  }

  .jfk-umass {
    grid-row: 13 / 14;
  }

  .savin-hill {
    grid-row: 16 / 17;
  }

  .fields-corner {
    grid-row: 17 / 18;
  }

  .shawmut {
    grid-row: 18 / 19;
  }

  .ashmont {
    grid-row: 19 / 20;
  }

  .north-quincy {
    grid-row: 15 / 16;
  }

  .wollaston {
    grid-row: 16 / 17;
  }

  .quincy-center {
    grid-row: 17 / 18;
  }

  .quincy-adams {
    grid-row: 18 / 19;
  }

  .braintree {
    grid-row: 19 / 20;
  }

  .alewife,
  .ashmont,
  .braintree {
    font-weight: 700;
  }
}
