body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e6/Outbound_train_at_Charles_MGH_station%2C_May_2006.jpg");
}

.App {
  text-align: center;
  background-color: rgba(238, 241, 241, 0.7)
}

nav {
  text-align: right;
  background-color: #eef1f1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

nav > a {
  text-decoration: none;
  color: black;
  font-size: 10pt;
}

header {
  background-color: #f50f0a;
  /* margin: 0; */
}

.header-top {
  color: #eef1f1;
}

.header-bottom {
  background-color: #eef1f1;
}

.station-map {
  display: grid;
  grid-template-columns: 1fr repeat(2, 10%) 15% 10% 15% repeat(2, 10%) 1fr;
  grid-template-rows: repeat(18, 20px);
  list-style-type: circle;
}

ul > a {
  text-decoration: none;
  color: black;
  text-align: left;
}

.alewife, .porter, .davis, .harvard, .central, .kendall-mit, .charles-mgh, .park-street, .downtown-crossing, .south-station, .broadway, .andrew, .jfk-umass {
  grid-column: 4 / 7;
}

.savin-hill, .fields-corner, .shawmut, .ashmont {
  grid-column: 2 / 5;
}

.north-quincy, .wollaston, .quincy-center, .quincy-adams, .braintree {
  grid-column: 6 / 9;
}

.alewife {
  grid-row: 1 / 2;
}

.porter {
  grid-row: 2 / 3;
}

.davis {
  grid-row: 3 / 4;
}

.harvard {
  grid-row: 4 / 5;
}

.central {
  grid-row: 5 / 6;
}

.kendall-mit {
  grid-row: 6 / 7;
}

.charles-mgh {
  grid-row: 7 / 8;
}

.park-street {
  grid-row: 8 / 9;
}

.downtown-crossing {
  grid-row: 9 / 10;
}

.south-station {
  grid-row: 10 / 11;
}

.broadway {
  grid-row: 11 / 12;
}

.andrew {
  grid-row: 12 / 13;
}

.jfk-umass {
  grid-row: 13 / 14;
}


.savin-hill {
  grid-row: 14 / 15;
}

.fields-corner {
  grid-row: 15 / 16;
}

.shawmut {
  grid-row: 16 / 17;
}

.ashmont {
  grid-row: 17 / 18;
}

.north-quincy {
  grid-row: 14 / 15;
}

.wollaston {
  grid-row: 15 / 16;
}

.quincy-center {
  grid-row: 16 / 17;
}

.quincy-adams {
  grid-row: 17 / 18;
}

.braintree {
  grid-row: 18 / 19;
}