@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --redline-red: #e10c0c;
  --redline-white: #eef1f1;
  --redline-orange: #e88a58;
}

body {
  background-image: url("./images/opaque-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 25px;
}

/* ==========================================================================
  Header Styles
========================================================================== */

header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
}

.header-top {
  color: var(--redline-white);
  background-color: var(--redline-red);
  padding-top: 2px;
  margin-bottom: 0;
}

.header-bottom {
  background-color: var(--redline-white);
  margin-top: 0;
  padding-top: 2px;
}

/* ==========================================================================
  Link/Button Styles
========================================================================== */

button,
a {
  text-transform: uppercase;
  cursor: pointer;
}

button {
  border: none;
  box-shadow: 3px 2px 2px rgb(104, 100, 98);
  background-color: rgb(238, 241, 241);
  border-radius: 8px;
  padding: 3px;
}

button:hover,
button:active {
  box-shadow: 3px 2px 2px var(--redline-orange);
}

a:hover,
a:active {
  text-shadow: 3px 2px 2px var(--redline-orange);
}

/* ==========================================================================
  Breakpoints
========================================================================== */

/* ==================================================================
  Skinny smartphone view
  ================================================================== */

@media screen and (max-width: 370px) {
  .header-top,
  .header-bottom {
    font-size: 18pt;
  }

  .App {
    font-size: 12pt;
  }
}

/* ==================================================================
  Midsized smartphone view
  ================================================================== */

@media screen and (min-width: 371px) {
  .header-top,
  .header-bottom {
    font-size: 23pt;
  }
}

/* ==================================================================
  Large smartphone/phablet view
  ================================================================== */

@media screen and (min-width: 400px) {
  .header-top, .header-bottom {
    font-size: 25pt;
  }
  button {
    font-size: 16px;
  }
}

/* ==================================================================
  Tablet and desktop view
  ================================================================== */

@media screen and (min-width: 641px) {
  .header-top,
  .header-bottom {
    font-size: 40pt;
  }

  .header-top {
    padding-top: 10px;
  }

  .header-bottom {
    padding-bottom: 3px;
  }
}
